<%= provide(:about_active, 'active') %>
<!--% content_for(:sidebar) do %-->
    <!--%= render :partial => 'shared/sidebar' %-->
<!--% end %-->

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  body{ background-color: #ffffff; }
</style>
<div class="span4">
  <div style="text-align:center">
      <div class="img">
        <%= image_tag 'pistis-sell-banner.png' %>
      </div>
   </div>
</div>
<div class="background">
  <div class="row">
    <div id="headline">
      <h2> Who We Are? </h2>
      <p>
        We are a very unique and innovative digital marketing website where you are in charge! We have all the possibilities for you, such as buying, selling and advertise your products. You have the control with just a click.  You can personalize the way you want to announce your products with our easy navigation through the website.
      </p>

      <h2>Why <%= link_to "PISTIS", "http://www.pistis.com.mx/" %>?</h2>
      <p>Interacting with <%= link_to "PISTIS", "http://www.pistis.com.mx/" %> website is so easy, simple and accessible for everyone. <%= link_to "PISTIS", "http://www.pistis.com.mx/" %> is a practical platform so you won’t waste your time and money. You will always win! We have the 3 main qualities every trustworthy website should have: fast delivery, protected personal information and easy navigation.</p>
      <p>A lot of people say they prefer online shopping and the reasons are so many why online shopping is better than conventional these days. In <%= link_to "PISTIS", "http://www.pistis.com.mx/" %> we know them and we have them! You can find better prices, it is good for the environment and you have a wider range of choices. You don’t have to do endless lines to buy one product. You can find the best deal for your pocket. The variety is amazing; you can find several brands and different sellers in one place.</p>
      <p>A big selection of colors and sizes is what we have for you! You can compare prices with other stores, because we are sure you won’t find prices and quality like ours. Forget about the crowds and compulsive shopping. Buy in less time all what you need.</p>
      <p>We provide fast delivery, because your time is important for us and we won’t make you wait. We work with companies like DHL and Fedex to be able to provide this super-fast delivery service.</p>
      <p>We know how difficult is to trust on the online websites now a days, but with us you don’t have to worry about it. On <%= link_to "PISTIS", "http://www.pistis.com.mx/" %> we require the minimum and precise information so that you can join. Only you will have access to your personal information. This makes <%= link_to "PISTIS", "http://www.pistis.com.mx/" %> a website that guarantees the security of your data and safe interaction with sellers and costumers.</p>
      <p>The main goal of <%= link_to "PISTIS", "http://www.pistis.com.mx/" %> is to be a platform where our customers can grow professionally as well as personally. With our benefits of fast delivery, better service and the best prices, we look up to create an honest market. We want to support small business to grow; we believe that everyone deserves an opportunity.</p>

    </div>
  </div>
</div>