<div class="collapse" id="exCollapsingNavbar">
  <div class="collapse-bg p-a-1">
    <div class='card'>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= link_to 'Blog', root_path, class: "nav-link #{yield(:blog_active)}" %>
        </li>
        <li class="list-group-item">
          <%= link_to 'About', about_path, class: "nav-link #{yield(:about_active)}" %>
        </li>
        <li class="list-group-item">
          <%= link_to 'Contact', new_contact_path, class: "nav-link #{yield(:contact_active)}" %>
        </li>
        <% if author_signed_in? %>
            <li class="list-group-item">
              <%= link_to 'My Post', authors_posts_path, class: "nav-link #{yield(:author)}" %>
            </li>
            <li class="list-group-item">
              <%= link_to 'Log Out', destroy_author_session_path, method: :delete, class: "nav-link" %>
            </li>
            <li class="round-image-50">
              <%= image_tag(current_author.avatar.url(:thumb)) %>
            </li>
        <% else %>
            <li class="list-group-item">
              <%= link_to 'Sign In', authors_posts_path, class: "nav-link #{yield(:author)}" %>
            </li>
            <li class="list-group-item">
              <%= link_to 'Sign Up', new_author_registration_path, class: "dropdown-item" %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>



<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/"><img class="img-responsive2" src ="http://www.pistis.com.mx/skin/frontend/ultimo/default/images/logo.png">
      </a>

      <%= form_tag(posts_path, method: 'get', class: 'navbar-form navbar-right') do %>
          <%= search_field_tag :search, nil, class: 'form-control', placeholder: 'Search here..'  %>
          <%= submit_tag "Submit", class: 'btn btn-default', :name => nil %>
      <% end %>

    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li class="nav navbar-nav pull-sm-right hidden-xs-down">
        <li class="nav-item" >
          <%= link_to 'Blog', root_path, class: "nav-link #{yield(:blog_active)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'About', about_path, class: "nav-link #{yield(:about_active)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contact', new_contact_path, class: "nav-link #{yield(:contact_active)}" %>
        </li>
        <li class="nav-item dropdown author-nav">
          <% if author_signed_in? %>
              <a class="nav-link dropdown-toggle <%= yield(:author) %>" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag current_author.avatar.url(:thumb) %>
                <!--Production -->
                <!--%= image_tag "/public#{current_author.avatar.url(:thumb)}" %-->
                <%= current_author.name %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to 'My Post', authors_posts_path, class: "dropdown-item " %>
                <br>
                <%= link_to 'Account', authors_account_path, class: "dropdown-item" %>
                <br>
                <%= link_to 'Log Out', destroy_author_session_path, method: :delete, class: "dropdown-item" %>
              </div>
          <% else %>
              <a class="nav-link dropdown-toggle <%= yield(:author) %>" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Author
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to 'Sign In', authors_posts_path, class: "dropdown-item" %>
                <br>
                <%= link_to 'Sign Up', new_author_registration_path, class: "dropdown-item" %>
              </div>
          <% end %>
        </li>
      </ul>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
