<% content_for(:sidebar) do %>
    <%= render :partial => 'shared/sidebar' %>
<% end %>
<h1 id="page_title">
  Contact US
</h1>


<div class="skinny_wrapper wrapper-padding">
  <%= form_for @contact do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true %>
    <br>
    <%= f.label :email %><br>
    <%= f.email_field :email, required: true %>
    <br>
    <%= f.label :message %><br>
    <%= f.text_area :message, as: :text %>
    <br>
    <div class="hidden">
      <%= f.label :nickname %>
      <%= f.text_field :nickname, hint: 'Leave this field blank!' %>
    </div>
    <br>
      <%= f.submit 'Send Message', class: "button", data: {confirm: "Thank You for contacting us. Our Representatives will soon get back to you!!!"} %>
    <% end %>
</div>
