<%= provide(:contact_active, 'active') %>
<div class="page-header">
  <h1>Send A message to Us</h1>
</div>
<div class="container-fluid">

    <div class="panel panel-default">
      <div class="panel-heading">Message US</div>
        <div class="panel-body">
          <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
          <%= f.input :name, :required => true %>
          <%= f.input :email, :required => true %>
          <%= f.input :message, :as => :text, :required => true %>
          <div class= "hidden">
            <%= f.input :nickname, :hint => 'Leave this field blank!' %>
          </div>
            <div>
              </br>
              <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
            </div>
            <% end %>
        </div>
      </div>
    </div>